<div class="card">
    <div class="card-header">
        Reactive Form
    </div>
    <div class="card-body">
        <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="firstNameId">First Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="firstNameId" type="text" placeholder="First Name"
                        formControlName="firstName" />
                </div>
            </div>
            <div formGroupName="emailGroup">
                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="email">Email</label>
                    <div class="col-md-8">
                        <input class="form-control" id="email" type="text" placeholder="Email" formControlName="eemail"
                            value="email" />
                        <span class="invalid-feedback d-block">
                            <span *ngIf="customerForm.get('emailGroup').errors?.match">
                                Please confirm your mail
                            </span>
                        </span>
                    </div>

                </div>
                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="confirmEmail">Confirm Email</label>
                    <div class="col-md-8">
                        <input class="form-control" id="confirmEmail" type="text" placeholder="Confirm Email"
                            formControlName="confirmEmail" value="confirmEmail" />
                        <span class="invalid-feedback d-block">
                            <span *ngIf="customerForm.get('emailGroup').errors?.match">
                                Please confirm your mail
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">

                <div class="col-md-8 offset-md-2">
                    <div class="form-check form-check-inline">
                        <label for="phone" class="form-check-label">
                            <input class="form-check-input" type="radio" value="phone" formControlName="notification"
                                (click)="setNotification('phone')" />
                            Phone</label>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="form-check form-check-inline">
                        <label for="notification" class="form-check-label">
                            <input class="form-check-input" type="radio" value="email" formControlName="notification"
                                (click)="setNotification('email')" />
                            Email</label>
                    </div>
                </div>

            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="rating">Rating</label>
                <div class="col-md-8">
                    <input class="form-control" id="rating" type="text" placeholder="Rating" formControlName="rating"
                        value="rating" />
                    <span class="invalid-feedback d-block" *ngIf="customerForm.get('rating').errors?.range">
                        <span>
                            Please rate your experience from 1 to 5.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3" type="submit" style="width: 80px;"
                        [disabled]="!customerForm.valid">
                        Save
                    </button>
                    <button class="btn btn-primary ml-3" (click)="populateData()" [disabled]="!customerForm.valid">
                        Populate
                    </button>
                </div>
                <div class="offset-md-2 col-md-4">

                </div>
            </div>

        </form>
    </div>
</div>

<br>Dirty : {{ customerForm.dirty }}
<br>Pristine : {{ customerForm.pristine }}
<br>Touched : {{ customerForm.touched }}
<br>Valid : {{ customerForm.valid }}
<br>Value : {{ customerForm.value |json }}


<br>Email : {{ customerForm.get('emailGroup.eemail').pristine |json }}
<br>ConfirmEmail : {{ customerForm.get('emailGroup.confirmEmail').pristine | json}}